{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="{% static 'scripts/quicksort.js' %}?{% now 'U' %}"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <style>
    .line {
      stroke: #000;
      stroke-width: 1.5px;
      stroke-linecap: round;
    }
    .underline {
      stroke-width: 3px;
    }
    div {
      display: flex;
      justify-content: center;
    }
    svg {
      padding: 100px;
    }
    .greyed {
      stroke: rgba(93, 93, 93, 0.329)!important;
    }
    .pivot {
      stroke: rgb(233, 17, 17)!important;
    }
  </style>
  <title>BubbleSort</title>
</head>

<body>
  <div class="quick-sort">
  </div>
</body>

</html>