{% extends 'coderunner/base.html' %} {% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome, select your test</h1>
    <a href="{% url 'add_test' %}">
      <h2>
        Add a test here
      </h2>
    </a>
    <ul>
      {% for test,score in tests.items %}
      <li>
        <a href="{% url 'code_display' code_id=test.id %}"
          >{{ test.title }}: {{ score }}/{{ test.max_score }}
        </a>
          <small>
              {% for key,value in test.get_score_breakdown %}
                  <p>{{ key }}: <b>{{ value }}</b></p>
              {% endfor %}
          </small>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
{% endblock content %}
