{% extends 'coderunner/base.html' %}
{% load static %}
    {% block title %}Problem{% endblock title %}
    {% block head %}
    <style type="text/css" media="screen">
      #editor {
        width: 70%;
        height: 60%;
        margin-left: 15%;
        margin-top: 5%;
      }
    </style>
    {% endblock head %}
    {% block content %}
        <div class='body'>
          <div id="editor"><textarea id='answer'>{{ problem }}</textarea></div>
          <form action="{% url 'results' code_id=id %}" id='form' method="post">
          {% csrf_token %}
          <input type="hidden" value="" name="answer" id='post-answer'>
          <input style='background: orange' type="submit" value="Submit">
          </form>

        {% if error %}
        <span style="background-color: red">{{ error }}</span> <br/>
        {% else %}
        <ul>
          {% for result in results %}
          <li>
            <span>
              Test# {{ result.number }}:
            </span>
            {% if result.result == True %}
              <span style="background-color: green">{{ result.result }}</span>
            {% else %}
              <span style="background-color: yellow">{{ result.result }}</span>
            {% endif %}
            <span>
              Case: {{ result.testcase }}
            </span>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
    <a href="{% url 'coderunner' %}">HOME</a>
    </div>
    <script
      src={% static 'ace/src-min/ace.js' %}
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script>
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.session.setMode("ace/mode/python");
      var editorEl = document.getElementById('editor')
      document.getElementById('form').addEventListener('submit',function(){
        document.getElementById('post-answer').value = editor.getValue()
      })
    </script>
{% endblock content %}
